VITE_SUPABASE_URL="https://vbyxklzbudlcxdzumewx.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZieXhrbHpidWRsY3hkenVtZXd4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTE0NjY2MTcsImV4cCI6MjEwNzA0MjYxN30.EpgHVgLz6OyhUte8LBGIOh-relloMR6ULoxrY-qxBjo"
VITE_APP_NAME="سوبر ماركت المدينة"
VITE_CURRENCY="د.ل"
VITE_WHATSAPP_NUMBER="966500000000"
